.navbar-inverse {
    background-color: #1175ad !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #efdddd!important;
}

.navbar-inverse .navbar-brand {
    color: #FFC107!important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #0ba0bf!important;
}